/* Mobile */
.carbonads_outer {
  /* This is to avoid CLS */
  min-height: 145px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* Desktop */
  .carbonads_outer {
    min-height: 0;
    margin-bottom: 0;
  }
}
