.downshift-wrapper {
  position: relative;

  input::placeholder {
    opacity: 0.5;
  }
}

.downshift-dropdown {
  position: absolute;
  z-index: 10;
  box-shadow: var(--pico-box-shadow);
  background-color: var(--pico-background-color);
  min-width: 230px;

  margin: 0;
  max-width: 650px;

  /* The yellow was a bit too loud and noisy in the autocomplete search */
  mark {
    background-color: unset;
    font-weight: bold;
    color: unset;
    padding: unset;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      padding: 5px;
      border-radius: var(--pico-border-radius);
      cursor: pointer;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}
.downshift-highlighted {
  background-color: var(--pico-contrast-focus);
}
