/* :root {
  --primary: #7cb342;
} */

/* :root {
  --background-color: #e2e2e2;
}
/*

/*
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(195, 82%, 31%);
} */

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --background-color: #f7f7f7;
  --card-sectionning-background-color: #f9f9f9;
  --muted-color: hsl(205deg 7.32% 63.16%);
  --code-color: hsl(203, 16%, 28%);
}

a {
  /* For a11y */
  text-decoration: underline;
}

hgroup > *:last-child,
.headings > *:last-child {
  /* For a11y */
  --color: unset;
}
/*
[data-theme="dark"] {
  --background-color: #0b0e10;
} */

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background-color: #0d1418;
    --card-sectionning-background-color: #11191f;
    --muted-color: hsl(205deg 7.32% 63.16%);
    --code-color: hsl(203deg 7.74% 57.32%);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  /* :root:not([data-theme]) {
  } */
}
/* @media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background-color: #103e61;
    --color: hsl(205deg, 16%, 77%);
    --h1-color: hsl(205deg, 20%, 94%);
    --h2-color: #e1e6eb;
    --h3-color: hsl(205deg, 18%, 86%);
    --h4-color: #c8d1d8;
    --h5-color: hsl(205deg, 16%, 77%);
    --h6-color: #afbbc4;
    --muted-color: hsl(205deg, 10%, 50%);
    --muted-border-color: #1f2d38;
    --primary: hsl(117, 67%, 32%);
  }
} */

main.container {
  padding-top: 20px;
}

button.mini,
a.mini[role="button"] {
  padding: 5px 10px;
  font-size: 0.85rem;
  margin: 3px;
  width: auto;
  display: inline;
}

/* message.css */
.message {
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
  border-radius: var(--border-radius);
}
.message .header,
.message .body {
  margin: 10px;
}
.message.negative {
  background-color: #ffebee;
  color: #b71c1c;
}
.message.warning {
  background-color: #fff8e1;
  color: #ff6f00;
}
.message.positive {
  background-color: #e8f5e9;
  color: #1b5e20;
}
.close.icon {
  float: right;
  font-style: normal;
  cursor: pointer;
  color: var(--color);
}

/* /message.css */

.nav-grid nav {
  /* display: none; */
  justify-content: space-around;
}

@media (min-width: 576px) {
  .nav-grid nav {
    /* display: flex; */
    margin-top: 0;
    justify-content: flex-end;
  }
}

footer.footer {
  text-align: center;
  border-top: 1px solid var(--muted-color);
  /* padding: 40px 0; */
  margin-top: 100px;
}
footer.footer nav {
  margin-bottom: 30px;
  justify-content: center;
}
footer.footer p {
  font-size: 0.85rem;
}

/* nav.css */
#nav {
  margin-bottom: 50px;
}

#nav h1 {
  margin-bottom: 0;
}
#nav form {
  margin: 0;
}
#nav input[type="search"] {
  height: 35px;
  background-image: none;
  border-radius: 3rem;
  padding-inline-start: 13px;
}

@media (min-width: 576px) {
  #nav input[type="search"] {
    padding-inline-start: calc(
      var(--form-element-spacing-horizontal) + 1.75rem
    );
    background-image: var(--icon-search);
    height: 45px;
    border-radius: 5rem;
  }
}

/* /nav.css */

/* comments.css */
#comments {
  margin-top: 60px;
}
span.not-approved {
  color: orange;
  font-style: italic;
}
#comments .d-1 {
  margin-left: 25px;
}
#comments .d-2 {
  margin-left: 45px;
}
#comments .d-3 {
  margin-left: 65px;
}
#comments .d-4 {
  margin-left: 85px;
}
#comments .d-5 {
  margin-left: 105px;
}
#comments .d-6 {
  margin-left: 125px;
}
#comments .d-7 {
  margin-left: 145px;
}
/* /comments.css */

/* carbonads.css */
#carbonads {
  --width: 200px;
  --font-size: 14px;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: var(--width);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  background-color: hsl(0, 0%, 98%);
  font-size: var(--font-size);
  line-height: 1.5;
}

#carbonads a {
  /* color: inherit; */
  color: #1f2d38;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: var(--width);
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: var(--width) !important;
  width: var(--width);
  height: auto;
}

.carbon-text {
  display: block;
  padding: 0 1em 8px;
}

.carbon-poweredby {
  display: block;
  padding: 10px var(--font-size);
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0;
  }

  .carbon-img img {
    max-width: 130px !important;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: left;
    /* max-width: calc(100% - 130px - 3em); */
  }
  .carbon-poweredby {
    left: 130px;
    bottom: 0;
    display: block;
    width: 100%;
  }
}
/* /carbonads.css */

/* carbon-ads-outer.css */
/* Mobile */
.carbonads_outer {
  /* This is to avoid CLS */
  min-height: 145px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* Desktop */
  .carbonads_outer {
    min-height: 14px;
  }
}
/* /carbon-ads-outer.css */

/* modal-search */
dialog {
  align-items: start;
  min-width: 390px;
}
@media (max-width: 575px) {
  dialog article {
    /* max-width: 510px; */
    width: 100%;
  }
}
@media (min-width: 576px) {
  dialog article {
    /* max-width: 510px; */
    width: 510px;
  }
}
@media (min-width: 768px) {
  dialog article {
    width: 700px;
  }
}
/* /modal-search */
