:root {
  --primary: #7cb342;
}

:root {
  --background-color: #0b0e10;
}

[data-theme="dark"] {
  --background-color: #0b0e10;
}
[data-theme="dark"] {
  --primary: #7cb342;
  /* --primary-hover: #8bc34a;
  --primary-focus: rgba(124, 179, 66, 0.25);
  --primary-inverse: #FFF; */
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background-color: #103e61;
    --color: hsl(205deg, 16%, 77%);
    --h1-color: hsl(205deg, 20%, 94%);
    --h2-color: #e1e6eb;
    --h3-color: hsl(205deg, 18%, 86%);
    --h4-color: #c8d1d8;
    --h5-color: hsl(205deg, 16%, 77%);
    --h6-color: #afbbc4;
    --muted-color: hsl(205deg, 10%, 50%);
    --muted-border-color: #1f2d38;
    --primary: hsl(117, 67%, 32%);
  }
}

.theme-toggler {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  padding: 5px 10px;
}
