form.songsearch-form {
  margin: 40px 0;
  position: relative;
}
input[type="search"] {
  border-radius: 0.5rem !important;
}

.autocomplete {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.97;
  border-bottom: 1px solid #85b7d9;
  border-right: 1px solid #85b7d9;
  border-left: 1px solid #85b7d9;
  top: 50px;
  left: 0; /* needed for safari */
}

.autocomplete ul li {
  list-style: none;
}

.autocomplete li p {
  font-weight: bold;
  font-size: 0.9em;
}

.autocomplete mark {
  font-weight: normal;
  /* background-color: #fcf8e3; */
  background-color: var(--pico-mark-background-color);
}

.autocomplete ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 4px;
}
.autocomplete ul li {
  border-bottom: 1px solid #efefef;
  padding: 6px;
}
.autocomplete ul li:hover {
  /* background-color: #ececec; */
  background-color: var(--pico-blockquote-border-color);
}
.autocomplete ul li:last-child {
  border-bottom: none;
}

.autocomplete .active {
  /* background-color: #efefef; */
  background-color: var(--pico-blockquote-border-color);
}

.autocomplete li {
  cursor: pointer;
}
.autocomplete li .artist-name {
  margin: 0;
}
.autocomplete li .artist-metadata {
  opacity: 0.7;
}
.autocomplete li mark {
  padding-right: 0;
}

.autocomplete li img {
  width: 40px;
}

.autocomplete .autocomplete-suggestion-song p {
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 5px;
}

.autocomplete .autocomplete-suggestion-song {
  clear: left;
}
.autocomplete .media-left {
  float: left;
  padding-top: 4px;
}
.autocomplete .media-body {
  margin-left: 50px;
}

.autocomplete li.search-suggestion p {
  font-weight: normal;
}

.autocomplete span.by {
  /* color: #666; */
  color: var(--muted-color);
}

.maxlength {
  text-align: right;
  color: #737373;
}
.maxlength.danger {
  color: #a94442;
}

.autocomplete .search-suggestion a.total {
  /* Too little room for mobile */
  display: none;
}

@media (min-width: 768px) {
  .autocomplete .search-suggestion a.total {
    /* Too little room for mobile */
    display: inline;
    float: right;
  }
}
