#nav {
    margin-bottom: 50px;
  }

  #nav h1 {
    margin-bottom: 0;
  }
  #nav form {
    margin: 0;
  }
  #nav input[type="search"] {
    height: 35px;
    background-image: none;
    border-radius: 3rem;
    padding-inline-start: 13px;
  }

  @media (min-width: 576px) {
    #nav input[type="search"] {
      padding-inline-start: calc(
        var(--form-element-spacing-horizontal) + 1.75rem
      );
      background-image: var(--icon-search);
      height: 45px;
      border-radius: 5rem;
    }
  }
