pre {
  padding: 10px;
  border: 1px solid var(--code-color);
}

/* The old style <pre> from pygments */
/* div.highlight pre  {
  padding: 10px;
} */

img.floatright {
  float: right;
  margin: 0 0 7px 7px;
}
img.floatleft {
  float: left;
  margin: 7px 7px 0 0;
}

#carbonads {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
  }
}
