.search-result {
  margin-bottom: 40px;
}
.search-result small,
.search-summary {
  color: var(--muted-color);
}
.search-result-url {
  color: green;
}

mark {
  padding: unset;
  background-color: unset;
  color: var(--color);
  font-weight: bold;
}

b mark {
  font-weight: bolder;
  font-style: italic;
}
